.post {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postContent {
    flex: 1;
}

.deleteBtn {
    font-size: 40px;
}

.post img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
}

.editBtn {
    margin-top: 8px;
    margin-right: 5px;
}

.postControl {
    display: flex;
    align-items: center;
}

.postControl button {
    padding: 0;
}